{% extends 'VictoireCoreBundle::_modal.html.twig' %}

{% trans_default_domain "victoire" %}

{% block modal_container_classes %}{{ parent() }} vic-view-modal{% endblock modal_container_classes %}

{% block modal_header_title %}
    {{"victoire_blog.index.title"|trans() }}
{% endblock modal_header_title %}

{% block modal_body_content %}
    <h2 id="vic-blog-heading">
        {{ 'modal.blog.list.title'|trans({}, 'victoire') }}
    </h2>

    {% if blogs|length %}
        <div class="vic-panel-group" id="accordion-blog">
            {% for blog in blogs %}
                {% include 'VictoireBlogBundle:Blog:_listItem.html.twig' %}
            {% endfor %}
        </div>
    {% else %}
        <div class="vic-alert vic-alert-info">
            {{ 'modal.blog.list.empty.notice'|trans({}, 'victoire') }}
        </div>
    {% endif %}

    <a
        href="{{ path('victoire_blog_new') }}"
        class="vic-btn vic-btn-default"
        data-toggle="vic-modal"
        title="{{ ('modal.blog.button.new.title')|trans({}, 'victoire') }}"
    >
        {{ ('modal.blog.button.new.label')|trans({}, 'victoire')|raw }}
    </a>
{% endblock modal_body_content %}

{% block modal_footer_content %}
{% endblock modal_footer_content %}